<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parameter selection</title>
  <meta charset="utf-8">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>

	<div class="column" >
		<a href="/logout " class="btn btn-primary" role="button">Logout</a>
		<a href="/login " class="btn btn-primary" role="button">Home</a>


	</div>


<div class="container">
<br>  <p class="text-center"> <h2>Admin panel</h2></a></p>
<hr>

<div class="row">
	<aside class="col-sm-5">
<p>Users</p>


<div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Admins

			</h6>
		</header>
		<div class="filter-content">
			<div class="list-group list-group-flush">

			{% for admin in list_admin %}

			    <div class="list-group-item">{{admin}} </div>

			{%endfor%}


			<div align=right>
			<button type="button" id="newadminbutton" class="btn btn-primary">Add Admin</button>
			<button type="button" id="remove_admin_button" class="btn btn-danger">Remove Admin</button>
			</div>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->

	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">Normal users</h6>
		</header>

		<div class="filter-content">
			<div class="list-group list-group-flush">

			{%for user in list_users%}
			    <div class="list-group-item">{{user}} </div>
			{%endfor%}


			<div align=right>
			<button type="button" id="add_user_button" class="btn btn-primary">Add User</button>

			<button type="button" id="remove_user_button" class="btn btn-danger">Remove User</button>
			</div>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->




	</aside> <!-- col.// -->
	<aside class="col-sm-5">
<p>Datasets</p>


<div class="card">
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Datasets</h6></header>
		<div class="filter-content">
			<div class="list-group list-group-flush">

			{%for dataset in list_datasets%}


			    <div class="list-group-item">{{dataset}} </div>



			{%endfor%}
				<div align=right>
			<button type="button" id="newdatasetbutton" class="btn btn-primary">Add dataset</button>

				<button type="button" id="assigndatasetsetbutton" class="btn btn-primary">Assign dataset</button>
				<button type="button" id="removedatasetsetbutton" class="btn btn-danger">Remove dataset</button>
			</div> <!-- card-body.// -->
			</div>
	</article> <!-- card-group-item.// -->
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Assignments</h6></header>
		<div class="filter-content">
		<div class="list-group list-group-flush">

			{%for inspection in list_inspection%}

			    <div class="list-group-item">{{ inspection }}</div>

			{%endfor%}



			<div class="filter-content">
			<div align=right>

				<button type="button" id="remove_inspection" class="btn btn-danger">Remove assignment</button>

			</div>


		</div>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->



	</aside> <!-- col.// -->
	<!--<aside class="col-sm-4">
</div> <!-- row.// -->

</div>
<!--container end.//-->


</body>
</html>


<script type="text/javascript">

$('#assigndatasetsetbutton').click(function () {
        location.href = "{{url_for('assign_dataset')}}";
    });



$('#removedatasetsetbutton').click(function () {
        location.href = "{{url_for('remove_dataset')}}";
    });


$('#newdatasetbutton').click(function () {
        location.href = "{{url_for('create_dataset')}}";
    });

$('#newadminbutton').click(function () {
        location.href = "{{url_for('add_admin')}}";
    });

$('#remove_admin_button').click(function () {
        location.href = "{{url_for('remove_admin')}}";
    });


$('#remove_user_button').click(function () {
        location.href = "{{url_for('remove_user')}}";
    });


$('#add_user_button').click(function () {
        location.href = "{{url_for('register_new_user')}}";
    });
$('#remove_inspection').click(function () {
        location.href = "{{url_for('remove_inspection')}}";
    });

</script>

